<%= form_for @user, url: sign_up_path do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.file_field :avatar %>
  </p>

  <p>
    <%= f.label :message %>
    <%= f.text_area :message %>
  </p>

  <p>
    <%= f.submit 'Create Message for Jeffery' %>
  </p>
  
<% end %>
